.panels{
    min-height: 100vh;
    display: flex;
}

.panel{
    margin-top: 15px;
    background-color: blueviolet;
    box-shadow: 0 0 25px white;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-position: center;
    background-size: cover;
    transition: flex linear 0.7s;
}
.open{
    flex:5;
}
body{
    padding: 10px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgb(7, 40, 41) 0%, rgb(52, 253, 45) 100%);
}